<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.crs.mapper.AccountBalanceMapper">

   <select id="updateBalance" resultType="integer">
       INSERT INTO `u_account_balance`(`uid`,`amount`,`update_time`)
       VALUES (#{item.uid},#{item.amount},#{item.updateTime})
       ON DUPLICATE KEY UPDATE
       `update_time` = VALUES(update_time),
       `amount` = (`amount` + VALUES(amount))
   </select>

    <update id="updateForCashin">
       update `u_account_balance` set  `amount` = (`amount`- #{item.amount}),`update_time`= #{item.updateTime} where `uid` = #{item.uid} and `amount` >= #{item.amount}
    </update>

</mapper>